@font-face {
    font-family: Avenir;
    src: url('./assets/Avenir.ttc');
  }
@font-face {
    font-family: ITCAvantGardePro-Bold;
    src: url('./assets/ITCAvantGardePro-Bold.otf');
  }

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    width: 1640px;
    height:864px;
    overflow-x: hidden;
}
body {

    display: flex;
    width: 1640px;
    height:864px;
    overflow: hidden;
    /* border:1px solid red;  */
}
.main-container{
    
    width:200px;
    height:864 ;
    z-index: 399;
    background-color:#ffffff;
    
}
.section {
    /* border:1px solid red;  */
    display: flex;
    flex-direction: row;
    width: 1440px;
    height:100%;
   
    
}
.sectionLeft, .sectionRight{
    width: 720px;
    height:100%;
}
.sectionLeft{
    z-index: 999;
}
.img{
    width:100%;
    height:100%;
}
.content-top{
    /* border:1px solid red; */
    width:30.875rem;
    height: 15.125rem;
    margin : 96px 106px 68px 120px ;
}
.content-header{
    font-family:ITCAvantGardePro-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 41px;
    color: #000000;
    padding-right: 60px;
}
.content-text{
    font-family: Avenir;                               
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #666666;
    margin-top: 12px;
    padding-right: 62px;
}
.content-button{
    cursor:pointer;
    color:#000000;
    background-color: #ffffff;
    font-family:Avenir;
    font-style: normal;
    font-weight: 900;
    font-size:12.8px;
    font-style: normal;
    font-weight: 900;
    text-decoration:none;
    border :none;
    outline: none;
    margin-top: 32px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}
.content-bottom{
    /* border:1px solid red ; */
    margin-left: -70px;
    width: 906px;
    height: 458px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    z-index: -99;

}

.content-bottom-imageContainer{
    /* border:1px solid red ; */
    display: flex;
    margin-left:190px;
    width: 100%;
    height:363px;
    z-index: -199;
    
}
.img1-container, .img2-container, .img3-container{
    display:flex;
    flex-direction: column;
    width:230px;
    height:363px;
    margin-right: 32px;
    
}
.img1, .img2, .img3 {
    width:230px;
    height:310px;
}
.img1-text, .img2-text, .img3-text {
    margin-top:12px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 160%;
    color:#000000;
}
.img1-price-color, .img2-price-color, .img3-price-color {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
.img-color{
    width: 75px;
    height:16px;
    
}
.price{
    height: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 160%;
}

@media screen and (max-width: 480px) {
    html{
        max-width: 480px;
        width: 100%;
        height:741px;
        overflow-x: hidden;
    }
    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        max-width: 480px;
        width: 100%;
        height:741px;
    }
    .section {
        border:1px solid red; 
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: auto;
        max-width: 480px;
        width: 100%;
        height:754px;
    }
    .sectionLeft{
        max-width: 480px;
        width: 100%;
        height:437px;
        z-index: -20;
    }
    .sectionRight{
        max-width: 480px;
        max-width: 100%;
        height:453px;
        
    }
    .img{
        max-width: 480px;
        width: 100%;
        height:437px;
        overflow-x: hidden;
        
    }
    .content-top{
        /* border:1px solid red; */
        width:360px;
        height: 218;
        margin : 29px 24px 16px 24px ;
        margin-top: -190px;
    }
    .content-header{
        font-family:ITCAvantGardePro-Bold;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
        z-index: 1000;
        padding-right: 100px;
    }
    .content-text{
        display: none;
    }
    .content-button{
        cursor:pointer;
        color: #FFFFFF;
        background-color:transparent;
        font-family:Avenir;
        font-style: normal;
        font-weight: 900;
        font-size:12.8px;
        font-style: normal;
        font-weight: 900;
        text-decoration:none;
        border :none;
        outline: none;
        margin-top: 32px;
        padding-bottom: 5px;
        border-bottom: 2px solid  #FFFFFF;
    }
    .content-bottom{
        /* border:1px solid red ; */
        margin-left: -130px;
        margin-top:-92px;
        width: 516px;
        height: 357px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        z-index: 100;
    
    }
    
    .content-bottom-imageContainer{
        display: flex;
        margin-left:154px;
        width: 100%;
        height:293px;
        
    }
    .img1-container, .img2-container, .img3-container{
        display:flex;
        flex-direction: column;
        width:148px;
        height:293px;
        margin-right: 12px;
        
    }
    .img1, .img2, .img3 {
        width:148px;
        height:200px;
    }
    .img1-text, .img2-text, .img3-text {
        margin-top:12px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 400;
        font-size: 12.8px;
        line-height: 160%;
        color:#000000;
    }
    .img1-price-color, .img2-price-color, .img3-price-color {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
    }
    .img-color{
        margin-top: 8px;
        width: 66px;
        height:12px;
        
    }
    .price{
        height: 16px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 12.8px;
        line-height: 160%;
    }

    html{
        width: 360px;
        height:741px;
        overflow-x: hidden;
    }
   
.main-container{
    
    width:0px;
    height:0px;
    z-index: -9999;
    background-color:#ffffff;
    
}
}

